.App-header {
    background-color: blue;
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
}

.Header-Logo {
    margin-left: 0.4rem;
    align-items: left;
}
.Header-logo a{
        color: white;
        text-decoration: none;        
}
.Header-nav-items{
    colour: white;
}
.spacer {
    flex: 1;
}

.Header-nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 900
}

.Header-nav-items ul {
    list-style: none;
    colour: white;
    margin: 0;
    padding: 0;
    display: flex;

}

.Header-nav-items a {
    colour: white;
    font-weight: 300;
}

.Header-nav-items li {
    color: white;
    padding: 0 0.2rem;
}

.Header-nav-items a:hover,
.Header-nav-items a:active {
    color: orange;
}

@media (max-width: 768px) {
    .Header-nav-items {
        display: none;
    }

}

